* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background-color: #1E1F2B;
}
div.general-wrapper {
    width: 100%;
    height: 100%;
}
div.timer-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
div.timer {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
div.game-field {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}
div.desk_with_pieces, div.desk_with_puzzle {
    /* position: relative; */
    max-height: 1000px;
    padding: 50px;
}
div.desk_with_pieces {
    position: relative;
    width: 45%;
    min-width: 45%;
    height: 700px;
}
div.desk_with_puzzle {
    min-width: 900px;
}
div.desk_with_puzzle-grid {
    display: grid;
    grid-auto-flow: row;
    width: 900px;
    height: 700px;
}
div.desk_with_puzzle-image {
    width: 900px;
    height: 700px;
    z-index: -10;
    position: absolute;
    background-repeat: no-repeat;
}
.visibility {
    visibility: hidden;
}
.time-is-running-out {
    color: rgb(151, 14, 42);
}
.enough-time {
    color:dodgerblue;
}
.victory {
    color: #126D1A;
}
.tile {
    box-shadow: inset 0 0 1px black;
    cursor: pointer;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}
.closed {
    /* background-color: rgb(81, 80, 80); */
    background-color:  #42445E;
}
.open {
    background-color: transparent;
    cursor: auto;
}
.shuffled-tile {
    position: absolute;
    cursor: pointer;
}
.hovered-shuffled-puzzle {
    z-index: 10;
    transform: scale(1.1);
}
.visibility {
    display: none;
}
.results-wrapper {
    background-color: #141314;
    border-radius: 2px;
    color: #EBEBEB;
    box-shadow: 0px 0px 6px #00000029;
    height: auto;
    padding: 30px;
    margin: auto;
    margin: 0px 50px 0px 100px;
    min-width: 400px;
    width: 500px;
}
.results-wrapper_button-wrapper {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.result-title {
    font-size: 26px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}
.time-spent, .hints-were-used, .score {
    margin-bottom: 15px;
    font-size: 18px;
}
.retry-button {
    background-color: #EBEBEB;
    color:#141314;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.retry-button:hover {
    background-color: #141314;
    color: #EBEBEB;
    /* border: 1px solid#141314; */
    box-shadow: 0px 0px 5px #EBEBEB;
    transition: .2s ease-in-out;
}
.return-to-main-menu-button {
    background-color: dodgerblue;
    text-decoration: none;
    color:#141314;
    padding: 15px 25px 15px 25px;
    border-radius: 5px;
    font-weight: bold;
}
a.return-to-main-menu-button:hover {
    color: dodgerblue;
    background-color: #141314;
    /* border: 1px solid dodgerblue; */
    box-shadow: 0px 0px 5px dodgerblue;
    transition: .2s ease-in-out;
}