body {
    margin: 0;
    padding: 0;
}
.general-block {
    min-width: 600px;
    max-width: 1000px;
    min-height: 600px;
    margin: auto;
    margin-top: 100px;
}
.general-block_field {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(12, 50px);
    gap: 8px;
    padding: 4px;
    grid-auto-flow: row;
}
.general-block_field-cell {
   width: 50px;
    height: 50px;
    border: 1px solid #707070;
    opacity: 1;
    cursor: pointer;
    font: normal normal bold 20px/24px Roboto;
}
.general-block_field-cell:hover {
    border: 2px solid #04BEEE80;
    border-radius: 2px;
}
.flag {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background-size: cover;
    background-image: url(res/flag.svg);
}
.bomb {
    background: url(res/bomb.svg) 0% 0% no-repeat padding-box;
    background-size: cover;
    background-color: #C42828;
}
.opened-cell {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-size: 20px/24px;
    font-family: Roboto, sans-serif;
    text-align: center;
    line-height: 50px;
}
.closed-cell {
    background: #BBBBBB 0% 0% no-repeat padding-box;
}