body {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
table {
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}
td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
.digit {
    background-color: #FFCB9B;
    font-weight: bold
}
.main-diagonal {
    background-color: #FFFE9D;
}
.start {
    background-color: #7E0100;
}
label {
    display: block;
}
h2 {
    color: #7E0100;
}